{% extends 'base.html.twig' %}
{% block title %}FOODadvisor{% endblock %}
{% block body %}
    <div class ="jumbotron-home">
        <div class="container">
            <div class="row row-logo-band justify-content-center pb-5 pt-4">
                <img src="{{ asset('build/images/logofood.png') }}" alt="logo_Home" class="logo Home">
            </div>
            <h1 class="text text-center pt-3 pb-2">Bienvenue sur FOODadvisor</h1>
            <h4 class="text text-center pb-5">Retrouvez l'ensemble des restaurants déjà testé proche de chez vous.</h4>

            <div class ="row justify-content-center pt-4 mt-2">
                <div class ="col visitor">
                    <div class="visitors mt-2 text-center">
                        <a href="{{ path('home_page') }}" class="btn btn-visitor" role="button">Faites plaisir à vos papilles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
