{% extends 'base.html.twig' %}
{% block title %}FOODadvisor{% endblock %}
{% block body %}
    <div class ="jumbotron-home">
        <div class="container">
            <h1 class="text text-center pt-3 pb-2">Bienvenue sur FOODadvisor</h1>
            <h4 class="text text-center pb-5">Retrouvez l'ensemble des restaurants déjà testé proche de chez vous.</h4>

            <div class ="row justify-content-center pt-5 mt-3">
                <div class ="col-lg-6 col-md-6 col-sm-12 visitor">
                    <h2 class="text text-center">Espace Visiteur</h2>
                    <div class="visitors mb-5 mt-5 text-center">
                        <a href="#" class="btn btn-visitor" role="button">Entrer</a>
                    </div>
                </div>
                <div class ="col-lg-6 col-md-6 col-sm-12 administrator">
                    <h2 class="text text-center">Espace Administrateur</h2>
                    <div class="administrators mb-5 mt-5 text-center">
                        <a href="#" class="btn btn-administrator" role="button">Entrer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
