<form method="post" action="{{ path('admin_paiement_delete', {'id': paiement.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce moyen de paiement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paiement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
