{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="jumbotron-admin">
        <div class ="container text-center">
            <h1 class="adminIndex text-center pt-5">Bienvenue dans mon administration</h1>
        </div>
    </div>
{% endblock %}
