{% extends 'layoutAdmin.html.twig' %}

{% block title %}Edit Caracteristic{% endblock %}

{% block body %}
    <h1 class="text text-center pt-3">Modifier la caractéristique</h1>

    {{ include('admin/caracteristic/_form.html.twig', {'button_label': 'modifier'}) }}

{% endblock %}
