@import "~bootstrap/scss/bootstrap";
@import "vars";
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
    background-color: lightgray;
}
h1{
    font-size: 50px;
}
.text{
    font-family: 'Courgette', cursive;
}

/**navbar**/

.nav-link2{
    font-family: 'Courgette', cursive;
    font-size: 35px;
    margin-left: 40px;
    color: black;
    &:hover {
        color: red;
    }
}
.nav-link2.active-link{
    color: red;
}

.nav-link3{
    font-family: 'Courgette', cursive;
    font-size: 35px;
    margin-left: 40px;
    color: black;
    &:hover {
        color: red;
    }
}
.nav-link3.active-link{
    color: red;
}

.nav-link4{
    font-family: 'Courgette', cursive;
    font-size: 35px;
    margin-left: 40px;
    color: black;
    &:hover {
        color: red;
    }
}
.nav-link4.active-link{
    color: red;
}
.navbar-toggler{
    @include base-icon;
    background-image: url("../images/logof.png");
    height: 75px;
    width: 20%;
}
.admin{
    background-color: #0d88c1;
}
/**fin de navbar**/

/**admin**/
.jumbotron-admin {
    background-image: url("../images/theme-restaurant.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.adminIndex {
    font-family: 'Courgette', cursive;
}