@import "~bootstrap/scss/bootstrap";
@import "vars";
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

body {
    background-color: lightgray;
}
h1{
    font-size: 50px;
}
.text{
    font-family: 'Courgette', cursive;
}

/**navbarAdmin**/

.nav-link2{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-left: 40px;
    color: black;
    &:hover {
        color: red;
    }
}
.nav-link2.active-link{
    color: red;
}

.nav-link3{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-left: 40px;
    color: black;
    &:hover {
        color: red;
    }
}
.nav-link3.active-link{
    color: red;
}

.nav-link4{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-left: 40px;
    color: black;
    &:hover {
        color: red;
    }
}
.nav-link4.active-link{
    color: red;
}

.nav-link5{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-left: 40px;
    color: black;
    &:hover {
        color: red;
    }
}
.nav-link5.active-link{
    color: red;
}

.navbar-toggler{
    @include base-icon;
    background-image: url("../images/logof.png");
    height: 75px;
    width: 20%;
}
.admin{
    background-color: #0d88c1;
}
/**fin de navbarAdmin**/

/**admin**/
.jumbotron-admin {
    background-image: url("../images/theme-restaurant.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.adminIndex {
    font-family: 'Courgette', cursive;
}

/**fin admin**/

/**homepage**/
.jumbotron-home{
    background-image: url("../images/index.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.btn-visitor{
    font-family: 'Courgette', cursive;
    font-size: 30px;
    background-color: #1b607f;
    color: white;
    &:hover{
        background-color: #6C868E;
        color: white;
    }
}
/**fin homepage**/

.show-restaurant{
    background-color: white;
    padding-top: 2em;
}

.restaurant{
    font-size: 100px;
    margin-bottom: 1em;
}
.btn-restaurant{
    font-size: 50px;
    color: #0a0a0a;
}
.favoris{
    font-size: 100px;
}
.btn-favoris{
    font-size: 50px;
    color: #0a0a0a;
}
.jumbotron-accueil{
    background-image: url("../images/accueil.jpg");
    background-size: cover;
    align-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.container-search{
    margin-top: -2em;
    margin-bottom: -2em;
}

.homePage{
    background-color: #fffbcc;
}
.title{
    color: #0a0a0a;
}
.description{
    border-radius: 3%;
}
.about{
    padding-top: 4em;
    margin-bottom: 2em;
}
.page-footer{
    background-color: #fffbcc;
}
