{% extends 'layout.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
<div class ="container mt-4">
    <h1 class ="text text-center mb-5">La liste des restaurants</h1>
    <div class="row">
        {% for restaurant in restaurants %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <h3 class="text text-center"><a href="{{ path('restaurant_show',{slug: restaurant.slug, id: restaurant.id}) }}">
                        {{ restaurant.name }}</a>
                    </h3>
                    <h5 class="text text-center">{{ restaurant.city }} ({{ restaurant.postalcode }})</h5>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}