{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
<div class ="container mt-4">
    <h1 class ="text text-center mb-5">La liste des restaurants</h1>
    <div class="row">
        {% for restaurant in restaurants %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="text text-center">
                        {{ restaurant.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}