<footer class="page-footer pt-3 pb-3">
    <div class="container text-center text-md-left">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                <h6 class="text-uppercase font-weight-bold">Foodadvisor</h6>
                <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>L'application idéale pour les petits ou les grand gourmants.</p>
                <p>Mangez, Bougez, mais surtout Mangez!!!</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h6 class="text-uppercase font-weight-bold">Liens</h6>
                <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="{{ path('restaurant_index')}}">Restaurant</a>
                </p>
                <p>
                    <a href="#!">Les mieux notés</a>
                </p>
                <p>
                    <a href="{{ path('contact')}}">Formulaire de contact</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> 12 Rue de la Fourchette, 45000, ORLEANS</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> 02 00 00 00 00</p>
            </div>
        </div>
    </div>
</footer>